.about {
  padding-top: 6rem;
  margin-bottom: 9rem;
}

.text {
  color: var(--color-font-secondary);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.link {
  font-weight: 700;
  color: #e2e8f0;
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }

  &:focus {
    color: var(--color-link-hover);
  }
}
