.about {
  padding-top: 6rem;
  margin-bottom: 9rem;

  @media (max-width: 1000px) {
    margin-bottom: 6rem;
  }
}

.titleWrapper {
  position: sticky;
  top: 0;
  z-index: 20;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: 100vw;
  background-color: var(--color-background-rgba);
  padding: 1.25rem 1.5rem;
  backdrop-filter: blur(10px);
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }
}

.title {
  color: var(--color-font-primary);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }
}

.text {
  color: var(--color-font-secondary);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.link {
  font-weight: 700;
  color: #e2e8f0;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-link-hover);
  }
}
