.header {
  padding: 6rem 0;
}

.headerTitle {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.headerSubTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 0.75rem;
  letter-spacing: -0.025em;
}

.text {
  color: rgb(148 163 184);
  margin-top: 1rem;
}

.navigation {
  margin-top: 4rem;
}

.navigationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigationIcon {
  width: 2rem;
  margin-right: 8px;
  border: 1px solid var(--color-font-secondary);
  transition:
    background-color 0.2s,
    border-color 0.2s,
    width 0.2s;
}

.navigationLink:hover .navigationIcon {
  color: var(--color-font-primary);
}

.navigationItem:hover .navigationIcon {
  border-color: var(--color-background-primary);
  background-color: var(--color-background-primary);
  text-decoration: none;
  width: 4rem;
}

.navigationText {
  color: var(--color-font-secondary);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.1em;
}

.navigationItem:hover .navigationText {
  color: var(--color-font-primary);
}

.socialMedia {
  display: flex;
  gap: 15px;
  margin-top: 2rem;
}

.socialMediaIcon svg {
  width: 20px;
  height: 20px;
  fill: var(--color-font-secondary);

  &:hover {
    fill: white;
  }
}

.socialMediaIconMail svg {
  width: 25px;
  height: 25px;
  padding-bottom: 3px;
}
