.headerTitle {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.headerSubTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 0.75rem;
  letter-spacing: -0.025em;
}

.text {
  color: rgb(148 163 184);
  margin-top: 1rem;
}

.navigation {
  /* Стили для навигации */
}

.navigationList {
  /* Стили для списка (например, выставление отступов, удаление маркеров) */
  list-style: none; /* Удаляет маркеры списка */
  padding: 0; /* Убирает внутренние отступы */
  margin: 0; /* Убирает внешние отступы */
}

.navigationItem {
  /* Стили для каждого элемента списка */
}

.navigationLink {
  /* Стили для ссылки (например, цвет, фон, убираем подчеркивание) */
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Наследует цвет от родителя */
  display: flex; /* Если хотите, чтобы текст и значок были выровнены по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.navigationIcon {
  /* Стили для иконки */
  margin-right: 8px; /* Отступ между иконкой и текстом */
  /* При необходимости добавьте дополнительные стили */
}

.navigationText {
  /* Стили для текста в ссылке */
}

.socialMedia {
  display: flex;
  gap: 15px;
  margin-top: 2rem;
}

.socialMediaIcon svg {
  width: 20px;
  height: 20px;
  fill: rgb(148 163 184);

  &:hover {
    fill: white;
  }
}

.socialMediaIconMail svg {
  width: 25px;
  height: 25px;
  padding-bottom: 3px;
}
