.socialMedia {
  display: flex;
  gap: 25px;
  margin-top: 2rem;

  @media (max-width: 1000px) {
    gap: 15px;
  }
}

.socialMediaIcon svg {
  width: 25px;
  height: 25px;
  fill: var(--color-font-secondary);
  transition: fill 0.3s ease;

  &:hover {
    fill: white;
  }
}

.socialMediaIconMail svg {
  width: 30px;
  height: 30px;
  padding-bottom: 3px;
}
