@import "./styles/reset.css";

:root {
  --color-font-primary: #e5e7eb;
  --color-font-secondary: rgb(148 163 184);
  --color-font-tertiary: rgb(72, 191, 145);
  --color-background: #0f172a;
  --color-background-secondary: rgba(72, 191, 145, 0.1);
  --color-link-hover: #4fd1c5;
  --color-gradient: rgba(29, 78, 216, 0.15);
}

::selection {
  background-color: var(--color-link-hover);
  color: var(--color-background);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-font-primary);
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
  padding: 0 6rem;
  /* background-color: yellowgreen; */

  @media (max-width: 1000px) {
    flex-direction: column;
    padding: 0 3rem;
  }
}
