.navigationItem {
  margin: 0 0 2rem 0;
  width: 50%;

  &:hover,
  &:visited,
  &.active {
    .navigationIcon {
      border-color: var(--color-background-primary);
      background-color: var(--color-background-primary);
      color: var(--color-font-primary);
      text-decoration: none;
      width: 4rem;
    }

    .navigationText {
      color: var(--color-font-primary);
    }
  }
}

.navigationLink {
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    .navigationIcon {
      color: var(--color-font-primary);
    }
  }
}

.navigationIcon {
  width: 2rem;
  margin-right: 8px;
  border: 1px solid var(--color-font-secondary);

  transition:
    background-color 0.2s,
    border-color 0.2s,
    width 0.2s;
}

.navigationText {
  color: var(--color-font-secondary);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.1em;
}
